{% extends 'layout.html' %}

{% block body %}

<br>
<br>
<br>
<div class="jumbotron">
<div class="text-dark">
	<h1 style="font-family: Georgia, serif;">Search The BIBLE</h1>
  <div class="font-italic">
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{render_field(form.search, class_="form-control")}}
    </div>
    <p><input type="submit" class="btn btn-primary" value="  Go  "></p>
  </form>
</div>
</div>
</div>



{% endblock %}